# Archivos compilados
*.class
out/

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Sistema
.DS_Store
Thumb.db

# Archivos de documentación técnica interna
arquitectura_sistema_notificaciones.md
